@model PartialViewDemo.Models.Product

<table width="300px" border="1" align="center">
    <tr>
        <td><img src="@Url.Content(Model.ProductPhoto)" width="100" height="100"</td>
        <td>
            <table width="150" border="1" align="center">
                <tr>
                    <td>Product ID:</td>
                    <td>@Model.ProductID</td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td>@Model.ProductName</td>
                </tr>
            </table>
        </td>
    </tr>
</table>